body {
	background: hsla(36, 70%, 70%, 0.25);
}

.chessboard {
	width: 800px;
	aspect-ratio: 1;
	margin: auto;
	box-shadow: 5px 5px 2px 2px hsla(0, 40%, 20%, 0.5);
	padding: 40px;
	border: 1px solid #6E260E;
	border-radius: 10px;
    background-color: #6E260E;
}

.row {
	display: flex;
}

.row div {
  flex-grow: 1;
	aspect-ratio: 1;
}

.black {
	background-color: 	#6F4E37;
}

.white {
	background-color: #D2B48C;
}